
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 200px;
}
.mat-card{
  margin-left:15%;
  max-width: 1000px;
}

th.mat-header-cell {
  text-align: center;
}
.mat-cell{
  text-align: center;

}
.actions_btns{
  text-align:right;

}

.create-form{
  min-width: 150px;
  width: 100%;

}
.field-full-width{
  width: 100%;
}
.card{
  width: 50%;
  margin-left: 28%;
}
