
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 200px;
}
.mat-card{
  margin-left:15%;
  max-width: 1000px;
}

th.mat-header-cell {
  text-align: center;
}
.mat-cell{
  text-align: center;

}
.actions_btns{
  text-align:right;

}
.field-full-width{
  margin: 5px;
}
